@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <label for="name">Simulation Name:</label>
    <input name="name" type="text" min="1" value="SimulationName" required />
    <br />

    <label for="customers">Number of Customers:</label>
    <input name="customers" type="number" min="1" value="15" required />
    <br />

    <label for="waiters">Number of Waiters:</label>
    <input name="waiters" type="number" min="1" value="2" required />
    <br />

    <label for="cooks">Number of Cooks:</label>
    <input name="cooks" type="number" min="1" value="2" required/>
    <br />

    <label for="tables">Number of Tables:</label>
    <input name="tables" type="number" min="3" value="6" required />
    <br />

    <label for="partySize">Average Party Size:</label>
    <input name="partySize" type="number" min="1" max="13" value="6" required />
    <br />

    <label for="entryTime">Average Party Entry Time:</label>
    <input name="entryTime" type="range" min="1" max="10" value="4"/>
    <br />

    <button>Simulate</button>
</form>
